<% content_for :title, "Editing article" %>

<div class="edit-header">
<h1>Editar</h1>
<div>
  <button type="button" class="btn-secundary"> <%= link_to "Mostrar", @article %></button>
  <button type="button" class="btn-secundary"> <%= link_to "Voltar", articles_path %></button>
</div>
</div>

<%= render "form", article: @article %>

<br>


