<p style="color: green"><%= notice %></p>

<% content_for :title, "ROTEIRIZE" %>
<div class="action-bar">
  <button type="button" class="btn-secundary Novo" style="float: right;">
    <%= link_to "Novo destino", new_article_path %>
  </button>
</div>

<div class="conteiner">
<h1>Roteirize</h1>
<p>Roteirize é uma plataforma colaborativa de planejamento de viagens</p>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
   
  <% end %>
</div>


