<% content_for :title, "Novo Roteiro" %>
<div>
    <button type="button" class="btn-secundary" style="float: right;"> <%= link_to "Página inicial", articles_path %> </button>
    <h1>Criar</h1>
</div>

<br>



<%= render "form", article: @article %>

 
